.tic-tac-toe-container {
    height: 100vh;
    background-color: #EADFB4;
    display: grid;
    place-items: center;
}
.board {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.square {
    height: 4rem;
    width: 4rem;
    background-color: #51829B;
    color: #F6995C;
    font-size: 2rem;
}