/* .container{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f9ff;
}
.select {
    border: 1px solid rgb(90, 87, 87);
    padding: 5px;
    min-width: 10rem;
    background-color: #ffffff;
}
.container ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    min-width: 10rem;   
}
.container li {
    border-bottom: 0.5px solid rgb(90, 87, 87);
    padding: 5px;
} */