.search-autocomplete-container {
  height: 100vh;
  width: 100vw;
  background-color: #f6f9ff;
  display: flex;
  justify-content: center;
}
.user-search-container ul {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  list-style-type: none;
}
.user-item {
  cursor: pointer;
  padding: 5px 10px;
}
.user-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
