* {
  box-sizing: border-box;
}

body .App {
  height: 100vh;
}

.alert-test {
  height: 100%;
  position: relative;
}

.alert-container {
  position: absolute;
  z-index: 10;
  bottom: 0;
  max-height: 9rem;
  width: 100%;
  padding: 1rem;
}
.alert-box {
  height: 100%;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column
}
.alert-icon-container{
  display: flex;
  gap: 1rem;
}
.alert-message{
  font-size: 1.25rem;
  padding: 0.5rem;
  padding-left: 2.5rem;
}