@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .card {
    @apply shadow-lg rounded bg-primary-bg dark:bg-primary-dark-bg;
  }
  .primary-button {
    @apply bg-theme-color text-primary-bg px-4 py-2 shadow-md rounded-md;
  }
  .primary-button:hover:not(:disabled) {
    @apply opacity-85;
  }
  .primary-button:active:not(:disabled) {
    @apply scale-105 shadow-xl;
  }
}
